.App {
  /* text-align: center; */
  background: linear-gradient(#28b6b8, #ffc75a);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: 100%;
  height: 100vh;
}
.input {
  width: 80%;
  padding: 8px 15px;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 20px auto;
}
.input:focus{
  outline: none;
}





